parameters:
    level: 6
    paths:
        - src/
        - tests/
    ignoreErrors:
        - '#(has|with) no value type specified in iterable type array#'
    checkGenericClassInNonGenericObjectType: false
