{% extends 'layout/default.html.twig' %}

{% block main %}
    {{ component('LatestProjectList', {size: 3}) }}

    <div class="py-4"></div>

    {{ component('LatestArticleList', {size: 3}) }}
{% endblock %}
