{% extends 'layout/default.html.twig' %}

{% block main %}
    {{ component('Hero', {
        title: 'Undefined',
        description: 'Un blog centré sur le développement web en PHP. Retrouvez des articles sur mes trouvailles et expérimentations.',
    }) }}

    {{ component('LatestArticleList', {size: 3}) }}

    <div class="py-4"></div>

    {{ component('LatestProjectList', {size: 3}) }}
{% endblock %}
