<!DOCTYPE html>
<html lang="FR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
          content="Un blog centré sur le développement web en PHP. Retrouvez des articles sur mes trouvailles et expérimentations.">

    <title>{% block title %}Undefined{% endblock %}</title>

    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

    {{ encore_entry_link_tags('app') }}
    {% block stylesheets %}{% endblock %}

    {{ encore_entry_script_tags('app') }}
    {% block javascripts %}{% endblock %}

    <script async src="https://ackee.chinour.dev/tracker.js" data-ackee-server="https://ackee.chinour.dev"
            data-ackee-domain-id="6d481dc1-4c37-48a7-975f-b6faf28183c2"></script>

    <link rel="dns-prefetch" href="https://images.ctfassets.net">
    <link rel="dns-prefetch" href="https://fonts.googleapis.com">
    <link rel="dns-prefetch" href="https://fonts.gstatic.com">

    <meta http-equiv="Content-Security-Policy"
          content="default-src 'self' https://fonts.gstatic.com https://fonts.googleapis.com 'unsafe-inline'; img-src 'self' data: https://images.ctfassets.net; child-src 'none';">
</head>
<body class="dark:bg-zinc-800 dark:text-zinc-100 container mx-auto">
{% block body %}{% endblock %}
</body>
</html>
