<footer class="flex justify-between py-6 mt-2 uppercase text-zinc-600 dark:text-zinc-400 text-xs font-bold px-4">
    <p>{{ this.copyright }}</p>
    <ul class="flex gap-4">
        {% for link in this.links %}
            <li>
                <a class="hover:underline hover:text-zinc-700 hover:dark:text-zinc-300"
                   {% if link.external %}target="_blank" rel="nofollow"{% endif %}
                   href="{{ link.url }}">
                    {{ link.label }}
                </a>
            </li>
        {% endfor %}
    </ul>
</footer>
