<header class="md:flex p-2 mb-4 justify-between items-end">
    <p class="font-serif text-2xl text-center md:text-left mb-4 md:mb-0">
        <a class="hover:underline" href="/">{{ this.title }}</a>
    </p>
    <nav>
        <ul class="flex justify-center gap-4 text-lg font-serif">
            {% for item in this.navigationItems %}
                <li><a class="hover:underline" href="{{ path(item.route) }}" data-turbo-preload>{{ item.label }}</a></li>
            {% endfor %}
        </ul>
    </nav>
</header>
