<div class="px-4 md:px-0">
    <div class="flex justify-between items-end">
        <h2 class="text-lg font-serif font-bold">{{ this.title }}</h2>
        <a href="{{ path('project_list') }}" class="font-serif hover:underline">Voir plus →</a>
    </div>
    <div class="grid grids-col-1 lg:grid-cols-3 gap-6 my-2">
        {% for project in this.projects %}
            {{ component('ProjectCard', { project: project }) }}
        {% endfor %}
    </div>
</div>
