<div class="px-4 md:px-0">
    <div class="flex justify-between items-end">
        <h2 class="text-lg font-serif font-bold">{{ this.title }}</h2>
        <a href="{{ path('article_list') }}" class="font-serif hover:underline">Voir plus →</a>
    </div>
    <div class="md:flex gap-8 my-2">
        {% for article in this.articles %}
            {{ component('ArticleCardVertical', { article: article }) }}
        {% endfor %}
    </div>
</div>
