<div class="justify-self-auto border border-zinc-400 p-4 rounded">
    <a class="font-bold hover:underline text-blue-500 hover:text-blue-600" href="{{ this.project.url }}" target="_blank" rel="nofollow">
        {{ this.project.name }}
    </a>
    <p class="text-sm my-3 line-clamp-1 text-ellipsis">{{ this.project.description ?? '...' }}</p>
    {% if this.project.language is not empty %}
        <span class="tag">
            {{ this.project.language }}
        </span>
    {% endif %}
</div>
