<hr>
<ul class="flex gap-2 mt-3 px-0">
    {% for tag in tags %}
        <li>
            <p class="bg-zinc-800 dark:bg-zinc-300 text-zinc-100 dark:text-zinc-800 uppercase text-xs font-bold p-0.5 rounded">
                {{ tag.name }}
            </p>
        </li>
    {% endfor %}
</ul>
